---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import type { iconPaths } from "../components/IconPaths";
import Icon from "../components/Icon.astro";
import Grid from "../components/Grid.astro";
import CallToAction from "../components/CallToAction.astro";
---

<BaseLayout
	title="About | Jeanine White"
	description="About Jeanine White Lorem Ipsum"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/team_censored.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>
			<section>
				<h2 class="section-title">Personal infos</h2>
				<div class="content">
					<div class="personal-info">
						<ul class="about-list">
							<li class="info">
								<span class="title">first name:</span><span
									class="value">Delphes</span
								>
							</li><li class="info">
								<span class="title">Age:</span><span
									class="value">25 Years</span
								>
							</li><li class="info">
								<span class="title">Address:</span><span
									class="value">Toulouse</span
								>
							</li><li class="info">
								<span class="title">phone:</span><span
									class="value">+33750476361</span
								>
							</li><li class="info">
								<span class="title">langages:</span><span
									class="value"
									>French, English, Spanish, Turkish, Arabic</span
								>
							</li>
						</ul>
						<ul class="about-list">
							<li class="info">
								<span class="title">last name:</span><span
									class="value">Jabri</span
								>
							</li><li class="info">
								<span class="title">Nationality:</span><span
									class="value">French</span
								>
							</li>
							<li class="info">
								<span class="title">Driver's license:</span
								><span class="value">Ok</span>
							</li>
							<li class="info">
								<span class="title">Email:</span><span
									class="value">delphes5@outlook.fr</span
								>
							</li>
						</ul>
					</div>
				</div>
				<div></div>
				<div class="cta download">
					<CallToAction href="/cv.pdf" download={true}>
						DOWNLOAD CV
						<Icon icon="download" size="1.2em" />
					</CallToAction>
				</div>
			</section>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I have been passionate about technology since a young
						age, and this interest led me to pursue a degree in IT
						project management from Toulouse. During my studies, I
						gained a solid foundation in programming languages,
						software development, and project management
						methodologies.
					</p>
					<p>
						After completing my degree, I started my career as a
						Full Stack web and mobile developer, working on various
						projects for different clients. I have worked on
						projects ranging from e-commerce websites to mobile
						applications, and I have gained experience in front-end
						development, back-end development, and database
						management.
					</p>
					<p>
						My experience at <a
							href="https://www.soprasteria.com/fr"
							>Sopra Steria</a
						> has given me the opportunity to work on long-term projects
						and hone my skills in team collaboration, agile methodologies,
						and project management. This experience has also taught me
						the importance of being adaptable and flexible in the face
						of changing project requirements and tight deadlines.
					</p>
					<p>
						In my free time, I enjoy exploring new technologies and
						expanding my skill set as a developer. I am passionate
						about staying up-to-date with the latest frameworks and
						libraries, and I enjoy tinkering with personal projects
						in my spare time.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<div class="education">
						<ul>
							<li class="exp">
								<div class="icon">
									<Icon icon="bag" size="1em" />
								</div><span
									class="time open-sans-font text-uppercase"
								>
									2020 - 2022</span
								><h5 class="poppins-font text-uppercase">
									Master's degree<span
										class="place open-sans-font"
										>Blagnac</span
									>
								</h5><p class="open-sans-font">
									Software Engineering Project Manager
								</p>
							</li>
							<li class="exp">
								<div class="icon">
									<Icon icon="bag" size="1em" />
								</div><span
									class="time open-sans-font text-uppercase"
								>
									2020</span
								><h5 class="poppins-font text-uppercase">
									Scrum Training for Developers<span
										class="place open-sans-font"
										>Online</span
									>
								</h5><p class="open-sans-font">
									Mastering Agile Methodology for Successful
									Web and Mobile Projects
								</p>
							</li>
						</ul>
						<ul>
							<li class="exp">
								<div class="icon">
									<Icon icon="bag" size="1em" />
								</div><span
									class="time open-sans-font text-uppercase"
								>
									2019 - 2020</span
								><h5 class="poppins-font text-uppercase">
									Bachelor's degree<span
										class="place open-sans-font"
										>Blagnac</span
									>
								</h5><p class="open-sans-font">
									Digital Application Design and Development
								</p>
							</li>

							<li class="exp">
								<div class="icon">
									<Icon icon="bag" size="1em" />
								</div><span
									class="time open-sans-font text-uppercase"
								>
									2016 - 2018</span
								><h5 class="poppins-font text-uppercase">
									DUT<span class="place open-sans-font"
										>Blagnac</span
									>
								</h5><p class="open-sans-font">
									University Technology Diploma in Computer
									Science
								</p>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<h2 class="section-title">Tools</h2>
				<div class="content">
					<div>
						<div class="tool-group">
							<p class="subtitle">Code Quality</p>
							<div class="gallery">
								<Grid variant="small">
									{
										[
											{
												brand: "SonarQube",
												icon: "sonar",
											},
											{
												brand: "Jenkins",
												icon: "jenkins",
											},
											// { brand: "VS Code", icon: "aws" },
										].map(({ brand, icon }, index) => (
											<li
												class={`mention-card ${
													index % 2 === 0
														? null
														: "second-card"
												}`}
											>
												<Icon
													icon={
														icon as keyof typeof iconPaths
													}
													size="2.5rem"
												/>{" "}
												<p>{brand}</p>
											</li>
										))
									}
								</Grid>
							</div>
						</div>
					</div>
					<div class="tool-group">
						<p class="subtitle">Code Security</p>
						<div class="gallery">
							<Grid variant="small">
								{
									[
										{ brand: "Checkmarx", icon: "check" },
										{ brand: "Coverity", icon: "coverity" },
										// { brand: "Snyk", icon: "aws" },
									].map(({ brand, icon }, index) => (
										<li
											class={`mention-card ${
												index % 2 === 0
													? null
													: "second-card"
											}`}
										>
											<Icon
												icon={
													icon as keyof typeof iconPaths
												}
												size="2.5rem"
											/>{" "}
											<p>{brand}</p>
										</li>
									))
								}
							</Grid>
						</div>
					</div>
					<div class="tool-group">
						<p class="subtitle">Database</p>
						<div class="gallery">
							<Grid variant="small">
								{
									[
										{ brand: "DynamoDb", icon: "dynamo" },
										{ brand: "MongoDb", icon: "mongo" },
										// { brand: "OracleDb", icon: "aws" },
									].map(({ brand, icon }, index) => (
										<li
											class={`mention-card ${
												index % 2 === 0
													? null
													: "second-card"
											}`}
										>
											<Icon
												icon={
													icon as keyof typeof iconPaths
												}
												size="2.5rem"
											/>{" "}
											<p>{brand}</p>
										</li>
									))
								}
							</Grid>
						</div>
					</div>
					<div class="tool-group">
						<p class="subtitle">Frameworks</p>
						<div class="gallery">
							<Grid variant="small">
								{
									[
										{ brand: "NextJs", icon: "nextjs" },
										{ brand: "Angular", icon: "angular" },
										{ brand: "Deno", icon: "deno" },
										{ brand: "Nodejs", icon: "node" },
									].map(({ brand, icon }, index) => (
										<li
											class={`mention-card ${
												index % 2 === 0
													? null
													: "second-card"
											}`}
										>
											<Icon
												icon={
													icon as keyof typeof iconPaths
												}
												size="2.5rem"
											/>{" "}
											<p>{brand}</p>
										</li>
									))
								}
							</Grid>
						</div>
					</div>
					<div class="tool-group">
						<p class="subtitle">Cloud Solution</p>
						<div class="gallery">
							<Grid variant="small">
								{
									[
										{ brand: "AWS", icon: "aws" },
										{ brand: "Google", icon: "gcp" },
										{ brand: "Firebase", icon: "firebase" },
										{ brand: "Netlify", icon: "netlify" },
									].map(({ brand, icon }, index) => (
										<li
											class={`mention-card ${
												index % 2 === 0
													? null
													: "second-card"
											}`}
										>
											<Icon
												icon={
													icon as keyof typeof iconPaths
												}
												size="2.5rem"
											/>{" "}
											<p>{brand}</p>
										</li>
									))
								}
							</Grid>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>

	<ContactCTA />
</BaseLayout>

<style>
	.tool-group {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-bottom: 0.5rem;
	}
	.subtitle {
		font-size: var(--text-xl);
		color: var(--gradient-stop-3);
		text-align: center;
	}
	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 1rem;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	.second-card {
		background: var(--gradient-subtle-2);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
	.education {
		display: flex;
		flex-direction: column;
	}
	.time {
		width: fit-content;
		color: #666;
		background-color: #eee;
		font-size: 12px;
		padding: 1px 10px;
		display: inline-block;
		margin-bottom: 12px;
		border-radius: 20px;
		font-weight: 600;

		opacity: 0.8;
	}
	.place {
		opacity: 0.8;
		font-weight: 600;
		font-size: 15px;
		position: relative;
		padding-left: 26px;
	}
	.place::before {
		position: absolute;
		content: "";
		width: 10px;
		height: 2px;
		background-color: #666;
		left: 7px;
		top: 9px;
		opacity: 0.8;
	}
	.exp {
		position: relative;
		padding: 0 20px 0 60px;
		margin: 0 0 50px;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	.exp::after {
		content: "";
		position: absolute;
		top: 0;
		left: 20px;
		bottom: 0;
		border-left: 1px solid var(--gradient-stop-3);
	}
	.icon {
		background-color: var(--gradient-stop-3);
		width: 40px;
		height: 40px;
		position: absolute;
		left: 0;
		right: 0;
		line-height: 40px;
		text-align: center;
		z-index: 1;
		border-radius: 50%;
		color: #fff;
	}
	.download {
		display: flex;
	}
	.info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.title {
		opacity: 0.8;
		text-transform: capitalize;
		font-size: var(--text-lg);
	}
	.value {
		font-weight: 600;
		font-size: var(--text-base);
		color: var(--gradient-stop-3);
	}
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.personal-info {
		display: flex;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 58.75em) {
		.education {
			flex-direction: row;
		}
	}
	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.info {
			flex-direction: row;
			gap: 1rem;
			align-items: center;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
